<% if @arts.count == 0 %>
    <% if params[:q].blank? %>
        <h3>Não possuímos nenhuma arte até o momento!</h3>
    <% else %>
        <h3>Não achamos nenhuma arte com o termo de pesquisa!</h3>
    <% end %>
<% else %>
	<center>
	    <% @arts.each do |art| %>
	    	<%= image_tag art.image.url(:medium), class: "art_img_src" %>
	    <% end %>
	</center>
<% end %>
