<% if @arts.count == 0 %>
    <h3>Não achamos nenhuma arte com o termo de pesquisa!</h3>
<% else %>
	<center>
	    <% @arts.each do |art| %>
	    	<center>
	    		<%= image_tag art.image.url(:medium), class: "art_img_src" %>
	    		<%= check_box_tag 'accept' %>
	    		<%= label_tag 'accept' %>
	    	</center>
	    	<br>
	    <% end %>
	</center>
<% end %>
