
    <style>

                    .top{
                        height: 60px;
                        position: fixed;
                        margin-left:0px;
                        margin-right: 0px;
                        width: 100%;
                        background: white;
                        z-index: 9;
                        top: 0;
                        display: inline-block;
                        left: 0;
                        border-bottom: 1px solid #ccc;
                    }
                    .middle{
                        color:white;
                    }
                    @media (max-width: 389px) and (min-width: 330px){
                        .logo_img{
                            margin-left:0px !important;
                        }
                    }
    </style>

    <div style="height:60px;"></div>
    <div class="middle section s12 m12 l12" id="about">
        <div class="txtg_index">
            WHERE GOOD ARTS HELP THE WORLD
        </div><br>
        <a href="/gallery" class="waves-effect waves-light btn light-green">
            Browse Dreams
        </a>
        <br><br>
        <a href="/join" class="waves-effect waves-light btn light-green">
            Start Sharing Dreams (Artists & Donators)
        </a>
    </div>
    <div class="row center l11">

        <div class="row section">
            <h3 class="header light">Our mission</h3>
            <b>Is to develop teenagers' creative side, their humanitarian thinking and to help people in need from all over the world.</b>
        </div>

        <div class="row section center">
          <h3 class="header light">How it works</h3>
          <div class="col s12 l4 center">
            <img class="promo" src="assets/img/aboutimg1.png">
            <h5 class="center">Artist creates an art</h5>
            <p class="light">A young (12-29 years old) creates an art which can be a: paint, draw, poem, sculpture etc... And decides do help the world and be recognized posting his/her art in Sharing Dreams.</p>
            <br>
          </div>

          <div class="col s12 l4 center">
            <img class="promo" src="assets/img/aboutimg2.png">
            <h5 class="center">Art is published</h5>
            <p class="light">This art stays publicly exposed, receiving voluntary donations at the same time from any person in any part of the planet (by PayPal).</p>
            <br>
          </div>

          <div class="col s12 l4 center">
            <img class="promo" src="assets/img/aboutimg3.png">
            <h5 class="center">Donations are received</h5>
            <p class="light">Monthly, a 10% part of the donations goes for the own Sharing dreams (for live events),  20% goes to the artist and 70% for one of the four institutions (the donator decides), which use the money to humanitary issues. The money that goes to our paypal account is in the name of Guilherme Vieira Rizzo, one of the founders, because we can't officially create the non-profit organization. You can see our <a href="http://medium.com/@wesharingdreams" target="_blank">Paypal reports</a> if you want to feel more safe.</p>
          </div>
        </div>

        <br>
        <div class="row section">
            <h3 class="header light">Institutes</h3>
            <div class="col s6 m6 l3">
                <a href="http://www.unicef.org/" id="menu">
                    <img class="institutes-img" src="http://www.unicef.org/images/global_logo_2013.png">
                    <h6 class="center">
                        Unicef (GLBOAL)
                    </h6>
                </a>
            </div>
            <div class="col s6 m6 l3">
                <a href="http://www.msf.org/" id="menu">
                    <img class="institutes-img" src="http://cdn.msf.org/sites/msf.org/themes/custom/msf_org_zen/images/logo.png">
                    <h6 class="center">
                        Médecins Sans Frontières (MSF) (GLOBAL)
                    </h6>
                </a>
            </div>
            <div class="col s6 m6 l3">
                <a href="http://www.healafrica.org/" id="menu">
                    <img class="institutes-img" src="http://www.healafrica.org/img/header/heal_africa_logo.png">
                    <h6 class="center">
                        Heal Africa (AFRICA)
                    </h6>
                </a>
            </div>
            <div class="col s6 m6 l3">
                <a href="http://www.care.org/" id="menu">
                    <img class="institutes-img" src="http://www.care.org/sites/all/themes/CARE/images/logo-desktop.png">
                    <h6 class="center">
                        CARE (GLOBAL)
                    </h6>
                </a>
            </div>
        </div>

        <br><br>
        <div id="team" class="row section scrollspy l3">
            <div class="row">
              <h3 class="header">Who we are</h2>
              <p class="caption">We are 5 brazilian teenagers who want to make difference in the world.</p>
            </div>
            <br>

            <div class="row l3">
              <div class="col s12 m6 l3">
                <div class="image-container">
                  <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11737961_855159711243009_8047612089867095158_n.jpg?oh=4c7b4024714208ef13f4103ec88226be&oe=5646BC96&__gda__=1444245023_3440a8281d0f85acbee3901c93739a37">
                </div>
                <h5>Guilherme Rizzo</h5>
                <p>I put things in action. I am a 16 years old curious kid that since childhood tries to create innovative things, always interested in technology. My goal is to turn the world into a place more connected, collaborative and philanthropic, creating social projects for the youth, encouraging them to learn, combining themselves. I am passionate about knowledge and philanthropy. With a group of friends I have created Startups, Projects, Products, Apps, a non-profit organization and for sure I will keep doing things to continue improving the world.</p>
              </div>
              <div class="col s12 m6 l3">
                  <div class="image-container">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/11252019_756727491110794_512979593577067173_n.jpg?oh=d06ef7e242ffd9c39c38dd420b302b71&oe=5615EEA7&__gda__=1448846521_932383653e35eebd69dd18bd23063e60">
                  </div>
                <h5>Leonardo Felipe Nerone</h5>
                <p>The greatness of the Universe inspire me. I'm from the countryside of Paraná and I am 15 years old. The love for Astronomy, entrepreneurship and philanthropy was born in a way that I can't explain. Perhaps, because they all require you to search for knowledge and to think outside the box. I started creating projects that aimed to solve our everyday problems, and almost all of those projects were made in teams, and we have not stopped doing projects! Sharing Dreams is out first philanthropy project. This project was born of a dream to change the world and I hope that this will spread all over the world.</p>
              </div>
              <div class="col s12 m6 l3">
                <div class="image-container">
                    <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/10404164_929127640452365_1082079620137115546_n.jpg?oh=c7a83f36e284de6e65742dd5e547e41c&oe=56106957&__gda__=1448061267_516bedc0f9f13964f991f7fa11bb392a">
                </div>
                <h5>João Escudero</h5>
                <p>I'm a 16 years old guy. I started to develop to web when I was only 12 and I love technology. My goal is connect worldwide with the internet and expand my knowledge. With friend's group we made a bunch of projects like apps, websites, and non-profit organization, like SharingDreams.co. I hope to continue expanding my knowledge, and with this will can help the World. </p>
              </div>
              <div class="col s12 m6 l3">
                <div class="image-container">
                    <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10675580_747699491981181_413966705426907007_n.jpg?oh=172500b98a4e5689c826bfcdc512ec5c&oe=5611E23F&__gda__=1448766462_a93c6579ec75112def35ae2772d691df">
                </div>
                <h5>Thor Garcia</h5>
                <p>Hi, my name's Thor and i'm 16 years old. One of the things that push myself to learn more and more is society. Since our organization system is very complex, and we have a lot of problems, i try to figure out how to solve this prolems using technology, sociology and economics.</p>
              </div>
            </div>
            <div class="row l3">
              <div class="col s12 m6 l3">
                <div class="image-container">
                    <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11825632_864212723616045_7770606307018686658_n.jpg?oh=c0b2b0940fdc51dafa3795fdf9568fc2&oe=567AB881&__gda__=1447433451_5ceea6560ee474c7a434745ffeb73c24">
                </div>
                <h5>Felipe Fajardo</h5>
                <p>I am Felipe Fajardo, 18, I love sociology, technology, marketing, anthropology and consumption. Google volunteer since 2011 and believe in a better world with the support of technology and the new economy. The people are my focus, they are the energy that moves the world.</p>
              </div>
            </div>
      </div>
        Collaborators:<br>
        Freepik - Logo Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a><br>
        <br>
        <br>
        <br>
    </div>
    <footer class="page-footer light-green darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Sharing Dreams</h5>
                <p class="grey-text text-lighten-4">Where arts help the world<br>Contact: contact@sharingdreams.co  / copyright@sharingdreams.co</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://facebook.com/sharingdreamsorg">Facebook Page</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://twitter.com/wesharingdreams">Twitter Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://medium.com/@wesharingdreams">Paypal reports and Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://github.com/sharingdreams">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://sharingdreams.co/terms">Terms</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Sharing Dreams
            </div>
          </div>
        </footer>
